<!DOCTYPE html>
<html>
  <head>
    <title>Chat client</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <style>
    a:hover {
      cursor: pointer;
    }
    li.active {
      background: #B5ACAC;
    }
    </style>
  </head>
  <body class="ng-cloak" id="ng-app" ng-app="chat">
    <div class="container" ng-controller="ChatController">
      <div class="row" ng-if="!nickname">
        <div class="col-md-4">
          <form ng-submit="login(username)">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="username" autofocus required>
              <span class="input-group-btn">
                <button class="btn btn-info" type="submit">LOGIN</button>
              </span>
            </div>
          </form>
        </div>
      </div>

      <div class="row" ng-if="nickname">
        <div class="col-md-8" ng-if="room">
          <div class="panel panel-info">
            <div class="panel-heading">
             Messages 
            </div>
            <div class="panel-body">
              <div style="overflow-x: hidden; height: 500px;">
                <ul class="media-list">
                  <li class="media" ng-repeat="message in history[room]" ng-cloak>
                    <div class="media-body">
                      <div class="media">
                        <div class="media-body">
                          {{ ::message.text }}
                          <br>
                          <small class="text-muted">{{ ::message.author }} | {{ ::message.time }}</small>
                          <hr>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="panel-footer">
              <form ng-submit="submit(new_message)">
                <div class="input-group">
                  <input type="text" class="form-control" ng-model="new_message" autofocus required>
                  <span class="input-group-btn">
                    <button class="btn btn-info" type="submit">SEND</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Rooms 
            </div>
            <div class="panel-body">
              <div style="overflow-x: hidden; height: 500px;">
                <ul class="media-list">
                  <li class="media" ng-repeat="(name, room) in history" ng-class="{'active': $parent.room == name}">
                    <div class="media-body">
                      <div class="media">
                        <div class="media-body">
                          <h5>{{ name }}</h5><a ng-click="$parent.room = name">select</a>&nbsp;<a ng-click="leave(name)">leave</a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="panel-footer">
              <form ng-submit="join(new_room)">
                <div class="input-group">
                  <input type="text" class="form-control" ng-model="new_room" required>
                  <span class="input-group-btn">
                    <button class="btn btn-info" type="submit">JOIN</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
    <script type="text/javascript" src="/static/angular.min.js"></script>
    <script type="text/javascript" src="/static/angular-websocket.min.js"></script>
    <script type="text/javascript" src="/static/app.js"></script>
  </body>
</html>

